{% extends 'base.html.twig' %}

{% block mainContent %}
    <div class="main-wrapper">
        <div class="axil-post-list-area axil-section-gap bg-color-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-xl-8">
                        {% block  heading %}
                        {% endblock %}
                        {% block listItems %}
                        {% endblock %}
                        {% block pagination %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
