<li class="comment">
    <div class="comment-body">
        <div class="single-comment">
            <div class="comment-img">
                <img src="{{ subcomment.creator.profileImage.url }}" alt="Author Images">
            </div>
            <div class="comment-inner">
                <h6 class="commenter">
                    <a class="hover-flip-item-wrapper" href="#">
                  <span class="hover-flip-item">
                <span data-text="Rahabi Khan">{{ subcomment.creator.username }}</span>
            </span>
                    </a>
                </h6>
                <div class="comment-meta">
                    <div class="time-spent">{{ subcomment.creationDate | date('d-m-Y') }}</div>
                    <div class="reply-edit">
                        <div class="reply">
                            <a class="comment-reply-link hover-flip-item-wrapper" href="#">
                                                                                <span class="hover-flip-item">
                                                                                    <span data-text="Reply">Reply</span>
                                                                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="comment-text">
                    <p class="b2">{{ subcomment.summary }}</p>
                </div>
            </div>
        </div>
    </div>
</li>