{% extends 'base.html.twig' %}
{% block mainContent %}
    <div class="container">
        <h1>{{ bookReview.book.title }}</h1>
        <p>{{ bookReview.summary }}</p>

        {% if is_granted('ROLE_ADMIN') %}
        {{ form(removeBookReviewForm) }}
        {% endif %}
    </div>
{% endblock %}