
{% set redirectPath = "/bookReview/" ~ bookReview.id  %}
<div class="card shadow-sm" >
    <div onclick="window.location = '{{ redirectPath }}'" style="cursor:pointer">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
    </div>
    <div class="card-body" >
        <p class="card-text" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap"> {{ bookReview.summary }}</p>
        <div class="d-flex justify-content-between align-items-center">
            {% if bookReview.creator == app.user %}
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"
                            {%  set bookReviewPath =  url('edit_book_review',{'id' : bookReview.id}) %}
                            onclick="window.location = '{{ bookReviewPath}}'">Edit</button>
                </div>
            {% endif %}
            <small class="text-muted">9 mins</small>
        </div>
    </div>
</div>