{%  extends 'book/abstract_book_card.twig' %}

{% block card_content %}
    {{ parent() }}
    <div class="alert alert-warning" role="alert">
        This is a warning alert—check it out!
    </div>
{%endblock  %}