{%  extends 'book/book_card.twig' %}

{% block card_content %}
    {% set redirectURL = url('pending_book', {'id' : book.id}) %}
    {{ parent() }}
    <div class="alert alert-warning" role="alert">
        Pending book
    </div>
{%endblock  %}