{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for bookReview in allReviews %}
                    {% if loop.index % 3 == 2 %}
                        <div class="col">
                            {{ include('book/book_review.html.twig') }}
                        </div>
                    {% endif %}
                    {% if loop.index % 3 == 2 %}
                        <div class="col">
                            {{ include('book/book_review.html.twig') }}
                        </div>
                    {% endif %}

                    {% if loop.index % 3 == 2 %}
                        <div class="col">
                            {{ include('book/book_review.html.twig') }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
