{% extends 'base.html.twig' %}

{% block mainContent %}
    <div class="axil-post-list-area axil-section-gap bg-color-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-xl-8">
                    {% if results is not empty %}
                    <h1>Total results :  {{ results|length }}</h1>
                    {% for bookReview in results %}
                        {{ include('book_review/book_review_card.html.twig') }}
                    {% endfor %}
                    {% else %}
                        <h1>We are sorry... We could not find any match for your search</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}