{% extends 'base.html.twig' %}

{% block mainContent %}
    <div class="main-wrapper">
        <h1 class="d-none">Home Tech Blog</h1><!-- Start Post List Wrapper  -->
        <div class="axil-post-list-area axil-section-gap bg-color-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-xl-8">
                        {% for bookReview in pendingReviews %}
                            {{ include('book_review/book_review_card_pending.twig') }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
