{% extends 'base.html.twig' %}

{% block mainContent %}
    <div class="container mt-5">
        <div class="row">

            {% block pending_book_reviews %}
                {% set redirect_url = url('pending_book_reviews') %}
                {% set card_title = "Total pending reviews" %}
                {% set card_content = totalPendingReviews %}
                {% set text_class = 'text-primary' %}
                {% set icon_class = ''%}
                {{ include('moderator/dashboard_card.twig') }}
            {% endblock %}
            {% block pending_books %}
                {% set redirect_url = url('pending_books') %}
                {% set card_title = "Total pending books" %}
                {% set card_content = totalPendingBooks %}
                {% set text_class = 'text-warning' %}
                {% set icon_class = 'fa-book'%}
                {{ include('moderator/dashboard_card.twig') }}
            {% endblock %}

    </div>
{%  endblock %}
