{% extends 'base/list_page.twig' %}


{% block listItems %}
    {% if pendingReviews is empty %}
        <h1>Hmm.. Seems that you are not that busy today</h1>
    {% endif %}
        {% for bookReview in pendingReviews %}
            {{ include('book_review/book_review_card_pending.twig') }}
        {% endfor %}
{% endblock %}
