{% extends 'base.html.twig' %}

{% block mainContent %}

<div class="main-wrapper">
    <!-- Start Post List Wrapper  -->
    <div class="axil-post-list-area axil-section-gap bg-color-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-xl-8">
                    {% for bookReview in allReviews %}
                        {{ include('book/book_card.twig') }}
                    {% endfor %}
                    {% set paginationMethodName = 'book_reviews_page' %}
                    {{ include('components/pagination.twig') }}
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
