{% if user.socialHub != null %}
    <ul class="social-share-transparent size-md">
        {% if user.socialHub.facebookURL != null %}
            <li><a href="{{ user.socialHub.facebookURL }}"><i class="fab fa-facebook"></i></a></li>
        {% endif %}
        {% if user.socialHub.instagramURL != null %}
            <li><a href="{{ user.socialHub.instagramURL }}"><i class="fab fa-instagram"></i></a></li>
        {% endif %}
        {% if user.socialHub.linkedIn != null %}
            <li><a href="{{ user.socialHub.linkedIn }}"><i class="fab fa-linkedin-in"></i></a></li>
        {% endif %}
    </ul>
{% endif %}